<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Basic Websocket</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>    
</head>
<body>
    socket ping pong
    <script>
        $(function() {
            var socket = io('http://52.78.71.240:5002');

            socket.emit("login", {
                name: makeRandomName(),
                userid: "kevin@qarasoft.com"
            });

            socket.on("ping", function(data) {
                console.log("From server : "+data.msg);
            });

            function makeRandomName() {
                var name = "";
                var possible = "abcdefghijklmnopqrstuvwxyz";
                for ( var i = 0; i<3; i++) {
                    name += possible.charAt(Math.floor(Math.random() * possible.length));
                }
                return name;
            }

        });
    </script>
</body>
</html>